.content {
  padding: 5px 20px;
}

@media (max-width: 960px) {
  .content {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .content {
    margin-top: 0px;
    min-height: calc(100vh - 70px);
    display: flex;
    padding: 0;
  }
}
