.videoGallery {
  width: 100%;
  
  position: relative;
}


.videoGallery_videos {
  margin-top: 40px;
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tagItem{
  padding:10px
}
.tagItem >input{
  margin-right: 4px;
}

@media (max-width: 960px) {
  .videoGallery_videos {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
@media (max-width: 480px) {
  .videoGallery_videos {
    grid-gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}
