

.videoGallery_videos{
    display: grid;
    width: 100%;
    grid-gap :20px;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}
.videoCard{
    padding:10px;
}

.videoCard > iframe{
    width: 100%;
    height: 240px;
}
.videoCard_heading{
    color:rgb(77, 75, 75);
    font-weight: 700;
}
.tagList{
    list-style: none;
    display: flex;
    font-size: 14px;
    gap :10px;
    flex-wrap: wrap;
    justify-content: flex-end;

}
.tag{
    background-color: var(--red);
    color:white;
    font-weight: 600;
    padding:3px 6px;
    border-radius: 3px;
    width: fit-content;

}