.app{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    min-height: 100vh;
    height: fit-content;
    margin: auto;
    width: 76%;
}

@media(max-width:480px){
    .app{
        width: 100%;
    }
}